{% extends 'base.html' %}

{% block contents %}
<h2>{{ wish_list | length }} 件のWish</h2>

<table>
    <tr>
        <th>商品名</th>
        <th>優先度</th>
        <th>購入予定日</th>
        <th>購入日</th>
    </tr>
    {% for wish in wish_list %}
    <tr>
        <th>
            <a href="{% url 'app:wish_detail' wish.pk %}">
                {{ wish.title | truncatechars:8 }}
            </a>
        </th>
        <td>{{ wish.get_priority_display }}</td>
        <td>
            {% if wish.expected_buy_date %}
            {{ wish.expected_buy_date }}
            {% else %}
            未定
            {% endif %}
        </td>
        <td>
            {% if wish.buy_date %}
            {{ wish.buy_date }}
            {% else %}
            <form method="POST" action="{% url 'app:wish_switch_is_buy' wish.pk %}">
                {% csrf_token %}
                <button type="submit">購入済にする</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">該当するWishがありません。</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}